/* Estilizando o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

/* Estilizando o cabeçalho h1 */
h1 {
    font-size: 36px;
    color: #333;
    margin: 20px 0;
}

/* Estilizando o formulário */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

/* Estilizando os campos de entrada no formulário */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;

}

/* Estilizando o botão no formulário */
button[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilizando a lista de contatos */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

li:hover {
    background-color: #f0f0f0;
}

/* Estilizando os botões de mostrar/ocultar contatos */
.botoes button {
    margin: 0 15px 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    
}

.botoes button:hover {
    background-color: #555;
}

/* button #mostrarContato, #ocultarContatos{
    text-align: center;
    align-items: center;
} */

.botoes{
    text-align: center;
}
